/* _content/Components/Accordion.razor.rz.scp.css */
.sbc-accordion[b-sx14jyceg6] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
/* _content/Components/AccordionItem.razor.rz.scp.css */
.sbc-accordion-item[b-om9c2jy5h7] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--primary-border);
}

.sbc-accordion-item-header[b-om9c2jy5h7] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.sbc-accordion-item-header-icon[b-om9c2jy5h7]  svg {
    width: 16px;
    height: 16px;
    color: var(--);
    transition: transform 150ms ease-out;
}

.sbc-accordion-item-header-icon.show[b-om9c2jy5h7]  svg {
    transform: rotate(180deg)
}

.sbc-accordion-item-header:hover[b-om9c2jy5h7] {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;    
}

.sbc-accordion-item-content[b-om9c2jy5h7] {
    visibility: hidden;
    height: 0;
    line-height: 1.25rem;
    font-size: 0.85rem;
}

.sbc-accordion-item-content.show[b-om9c2jy5h7] {
    visibility: visible;
    animation: show-b-om9c2jy5h7 150ms linear forwards;
    padding-bottom: 1rem;
}

@keyframes show-b-om9c2jy5h7 {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: unset;
    }
}
/* _content/Components/Alert.razor.rz.scp.css */
.sbc-alert[b-em8pgb82eu] {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid var(--primary-border);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.sbc-alert span[b-em8pgb82eu] { cursor: default;}

.sbc-alert-header[b-em8pgb82eu] {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-text);
    line-height: 1.5rem;
}
.sbc-alert-content[b-em8pgb82eu] {
    font-size: 14px;
    color: var(--light-text);
}

.error[b-em8pgb82eu], .error[b-em8pgb82eu]  * {
    border-color: var(--error);
    color: var(--error) !important;
}
/* _content/Components/AlertDialog.razor.rz.scp.css */
.sbc-alertdialog[b-z4sj4desbz] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: fill;
}

.sbc-alertdialog-overlay[b-z4sj4desbz] {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--overlay-bg);
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    z-index: 0;    
}

.sbc-alertdialog-alert[b-z4sj4desbz] {
    z-index: 1;    
    padding: 1.5rem;    
    background-color: var(--alert-dialog-bg);
    border: 1px solid var(--alert-dialog-border);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sbc-alertdialog-header[b-z4sj4desbz] {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
}
.sbc-alertdialog-content[b-z4sj4desbz] {
    line-height: 1.25rem;
    font-size: 0.9rem;
    opacity: 0.65;
}

.sbc-alertdialog-footer[b-z4sj4desbz] {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: end;
}

.show[b-z4sj4desbz] {
    animation: show-b-z4sj4desbz 300ms ease-in-out both;
}
@keyframes show-b-z4sj4desbz {
    from { opacity: 0; transform: scale(0.85); }
    to { opacity: 1; transform: scale(1); }
}
/* _content/Components/AspectRatio.razor.rz.scp.css */
.sbc-aspect-ratio[b-ey1d71hhmr] {
    overflow: hidden;
    object-fit: cover;
    position: relative;    
}
.sbc-aspect-ratio > *[b-ey1d71hhmr] {
    width: 100%;    
    aspect-ratio: inherit;
}
/* _content/Components/Avatar.razor.rz.scp.css */
.sbc-avatar[b-soysf4bqjt] {
    border-radius: 50%;
    background-color: var(--primary-fg);
    color: var(--primary-bg);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    place-content: center;
    align-items: center;    
    font-weight: 500;
    cursor: pointer;    
}

.disabled[b-soysf4bqjt] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.sbc-avatar img[b-soysf4bqjt] {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transform: scale(1);
    transition: transform 150ms ease-out;
}

.sbc-avatar img:hover[b-soysf4bqjt] {
    transform: scale(1.1);
}

.small[b-soysf4bqjt] {
    width: 32px;
    font-size: 14px;
}
.regular[b-soysf4bqjt] {
    width: 48px;
    font-size: 18px;
}
.large[b-soysf4bqjt] {
    width: 64px;
    font-size: 24px;
}
.tiny[b-soysf4bqjt] {
    width: 24px;
    font-size: 12px;
}
/* _content/Components/Badge.razor.rz.scp.css */
.sbc-badge[b-av0476wejc] {
    height: 22px;
    padding: 4px 10px;
    border-radius: 6px;       
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    transition: opacity 150ms ease-in-out;
}
.sbc-badge:hover[b-av0476wejc] {
    opacity: 0.85;
}

.default[b-av0476wejc] {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-fg);
}
.secondary[b-av0476wejc] {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
}
.outline[b-av0476wejc] {
    background-color: transparent;
    border: 1px solid var(--primary-border);
    color: var(--primary-fg) !important;
}
.destructive[b-av0476wejc] {
    background-color: var(--btn-destructive-bg);
    color: var(--btn-destructive-fg);
}
/* _content/Components/Breadcrumb.razor.rz.scp.css */
.sbc-breadcrumb[b-b6dcjh4t2f] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: default;
}

.sbc-breadcrumb-item[b-b6dcjh4t2f] {
    text-decoration: none;
    color: var(--primary-fg);
    opacity: 0.65;
    font-weight: 400;
}
.sbc-breadcrumb-item:hover[b-b6dcjh4t2f] {
    opacity: 1;
}
.sbc-breadcrumb .material-symbols-outlined[b-b6dcjh4t2f] {
    opacity: 0.5;
}

[b-b6dcjh4t2f] .sbc-breadcrumb-separator {
    line-height: 0rem;
    opacity: 0.5;
}
.current-item[b-b6dcjh4t2f] {
    font-weight: 400;
}
/* _content/Components/Button.razor.rz.scp.css */
.sbc-button[b-dya36mh3t9] {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    min-height: 36px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: transparent;
    transition: all 100ms ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    gap: 8px;
    align-items: center;
    user-select: none;
}

.primary[b-dya36mh3t9] {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-fg);
}

.secondary[b-dya36mh3t9] {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
}

.destructive[b-dya36mh3t9] {
    background-color: var(--btn-destructive-bg);
    color: var(--btn-destructive-fg);
}

.outline[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg);
    color: var(--btn-outline-fg);
    border: 1px solid var(--btn-outline-border);
}

.outline:hover[b-dya36mh3t9],
.outline:focus[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg-hover);
}

.ghost[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg);
    color: var(--btn-outline-fg);
}

.ghost:hover[b-dya36mh3t9],
.ghost:focus[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg-hover);
}

.link[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg);
    color: var(--btn-outline-fg);
}

.link:hover[b-dya36mh3t9],
.link:focus[b-dya36mh3t9] {
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: var(--btn-outline-fg);
    text-underline-offset: 4px;
}

.icon[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg);
    color: var(--btn-outline-fg);
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--btn-outline-border);
}

.icon span[b-dya36mh3t9] {
    font-size: 20px;    
}

.icon:not(:disabled):hover[b-dya36mh3t9],
.icon:not(:disabled):focus[b-dya36mh3t9] {
    background-color: var(--btn-outline-bg-hover);
}

.loading[b-dya36mh3t9] {
    background-color: var(--btn-loading-bg);
    color: var(--btn-loading-fg);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--btn-outline-border);
    opacity: 0.5;
}

.loading span[b-dya36mh3t9] {
    font-size: 18px;
}

/* .light .outline,
.light .icon {
    box-shadow: 0 1px 2px 0 var(--btn-outline-border);
} */

.rotate[b-dya36mh3t9] {
    animation: rotate-b-dya36mh3t9 1s linear infinite;
}

@keyframes rotate-b-dya36mh3t9 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sbc-button:not(:disabled):hover[b-dya36mh3t9],
.sbc-button:not(:disabled):focus[b-dya36mh3t9],
.sbc-button:not(:disabled).loading:hover[b-dya36mh3t9] {
    cursor: pointer;
    opacity: 0.85;
}

.nostyle[b-dya36mh3t9] {
    color: var(--btn-outline-fg);
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.nostyle:hover[b-dya36mh3t9],
.nostyle:focus[b-dya36mh3t9] {
    background-color: transparent;
    cursor: default;
}

.sbc-button:not(:disabled):active[b-dya36mh3t9] {
    opacity: 1;
}

.regular span[b-dya36mh3t9] {
    font-size: 18px;
}

.small[b-dya36mh3t9] {
    padding: 8px 16px;
    min-height: unset;
    height: 28px;
    font-size: 12px;
}

.small span[b-dya36mh3t9] {
    font-size: 14px;
}

.large[b-dya36mh3t9] {
    min-height: unset;
    height: 44px;
    font-size: 16px;
}

.large span[b-dya36mh3t9] {
    font-size: 22px;
}

.success[b-dya36mh3t9] {
    background-color: var(--success-bg);
    color: var(--success-fg);
}
.warning[b-dya36mh3t9] {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
}
.error[b-dya36mh3t9] {
    background-color: var(--error-bg);
    color: var(--error-fg);
}
.info[b-dya36mh3t9] {
    background-color: var(--info-bg);
    color: var(--info-fg);
}

.sbc-button:disabled[b-dya36mh3t9] {
    pointer-events: none;
}
/* _content/Components/Calendar.razor.rz.scp.css */
.sbc-datepicker-wrapper[b-kj67obeyx4] {
    outline: transparent;
    overflow: hidden;    
}

.sbc-datepicker[b-kj67obeyx4] {
    background-color: var(--primary-bg);
    width: fit-content;
    border: 1px solid var(--primary-border);
    padding: 12px;
    font-family: inherit;    
    border-radius: 0.5rem;
    z-index: 100;
}

.sbc-datepicker-button[b-kj67obeyx4] {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    font-weight: 500;
    border: 1px solid var(--primary-border);
    padding: 8px 16px;
    height: 36px;
    border-radius: 6px;
    outline: transparent;
    width: 100%;
}

.sbc-datepicker-button span:first-child[b-kj67obeyx4] {
    opacity: 0.5;
    font-size: 18px;
}

    .sbc-datepicker-button div:first-child[b-kj67obeyx4] {
        display: flex;
        gap: 8px;
        align-items: center
    }

    .sbc-datepicker-button:not(:disabled):hover[b-kj67obeyx4],
    .sbc-datepicker-button:not(:disabled):focus-within[b-kj67obeyx4] {
        cursor: pointer;
        background-color: var(--btn-secondary-bg);
        color: var(--btn-secondary-fg);
    }

    .sbc-datepicker-button p[b-kj67obeyx4] {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }


.sbc-datepicker button[b-kj67obeyx4] {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border: 1px solid transparent;
    padding: 4px;
    height: 36px;
    font-size: 14.5px;
    font-weight: 500;
    min-width: 36px;
    border-radius: 6px;
    outline: transparent;
}

.sbc-datepicker-content button:not(:disabled):hover[b-kj67obeyx4] {
    cursor: pointer;
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
}   

.sbc-datepicker-content button.today[b-kj67obeyx4] {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
    border: 1px solid transparent;
}

.sbc-datepicker-content button.selected[b-kj67obeyx4] {
    background-color: var(--btn-primary-bg) !important;
    color: var(--btn-primary-fg) !important;
    border: 1px solid var(--btn-primary-bg);
}

.sbc-datepicker-content button:focus[b-kj67obeyx4] {
    border: 1px solid var(--primary-border);
}

.sbc-datepicker-header[b-kj67obeyx4] {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.sbc-datepicker-days[b-kj67obeyx4] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    row-gap: 8px;
    text-align: center;
}

.sbc-datepicker-weekdays[b-kj67obeyx4] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    font-size: 13px;
    opacity: 0.75;
    text-align: center;
    margin: 1rem 0;
}

.prev-month[b-kj67obeyx4], .next-month[b-kj67obeyx4] {
    opacity: 0.5;
}

.month-year[b-kj67obeyx4] {
    font-size: 15px;
    font-weight: 600;
    cursor: default;
}

.back[b-kj67obeyx4], .next[b-kj67obeyx4] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px !important;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid var(--primary-border);
}
    .back:hover[b-kj67obeyx4],
    .next:hover[b-kj67obeyx4] {
        cursor: pointer;
        background-color: var(--btn-secondary-bg);
        border: 1px solid var(--primary-border);
        border-radius: 6px;
    }

.show[b-kj67obeyx4] {
    visibility: visible;
    animation: show-b-kj67obeyx4 150ms ease-out forwards;
}

@keyframes show-b-kj67obeyx4 {
    from {
        opacity: 0;
        transform: scale(0.8)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.clear-btn[b-kj67obeyx4] {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
    border-radius: 50%;
    outline: transparent;
    transition: 150ms ease-in-out all;
}
.clear-btn:hover[b-kj67obeyx4],
.clear-btn:focus[b-kj67obeyx4] {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-fg);
    cursor: pointer;
}

.sbc-datepicker-days button:disabled[b-kj67obeyx4] {
    opacity: 0.5;
}
/* _content/Components/Card.razor.rz.scp.css */
.sbc-card[b-bq1hnrxmf6] {
    display: flex;
    height: 100%;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--primary-border);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border-radius: 0.5rem;
}

.sbc-card-header[b-bq1hnrxmf6] {
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
}

.sbc-card-header[b-bq1hnrxmf6]  h3:first-child {
    font-size: 16px;
    line-height: 2rem;
}

.sbc-card-header[b-bq1hnrxmf6]  p {
    font-size: 14px;
    opacity: 0.75;
}

.sbc-card-content[b-bq1hnrxmf6] {
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
    flex: 1;
}

.sbc-card-footer[b-bq1hnrxmf6] {    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.light .sbc-card[b-bq1hnrxmf6] {
    box-shadow: 0 1px 2px 0 var(--primary-border);
}
/* _content/Components/Carousel.razor.rz.scp.css */
.sbc-carousel[b-f7d5ualck2] {
    --vertical: row;
    display: flex;
    flex-direction: var(--vertical);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;   
    position: relative;
}

.sbc-carousel-content[b-f7d5ualck2] {
    --width: 500px;
    --height: 500px;
    --object-fit: cover;
    width: var(--width);
    height: var(--height);
    border: 1px solid var(--primary-border);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: var(--vertical);
    scroll-behavior: smooth;
}
    .sbc-carousel-content[b-f7d5ualck2]::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .sbc-carousel-content:hover[b-f7d5ualck2]::-webkit-scrollbar {
        background: transparent;
    }

.sbc-carousel-content[b-f7d5ualck2]  > * {
    display: block;
    min-width: var(--width);
    width: 100%;
    height: 100%;
    object-fit: var(--object-fit);
}
/* _content/Components/Chart.razor.rz.scp.css */
.sbc-chart[b-tm1s85kf0o] {
    position: relative;
}
/* _content/Components/Checkbox.razor.rz.scp.css */
.sbc-checkbox[b-2umz1gzssa] {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 12px;
}

    .sbc-checkbox label[b-2umz1gzssa] {
        font-size: 14px;
        font-weight: 500;
    }

        .sbc-checkbox label:hover[b-2umz1gzssa] {
            cursor: default
        }

    .sbc-checkbox input[b-2umz1gzssa] {
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
    }

.checkbox-wrapper[b-2umz1gzssa] {
    border: 1px solid var(--primary-fg);
    width: 16px;
    height: 16px;
    border-radius: 4px;
    position: relative;
}

.sbc-checkbox:not(:disabled) .checkbox-wrapper:not(.disabled):hover[b-2umz1gzssa],
.sbc-checkbox:not(:disabled) .checkbox-wrapper:not(.disabled):focus[b-2umz1gzssa] {
    cursor: pointer;
    opacity: 0.8;
}

.tick-mark[b-2umz1gzssa]  svg {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    width: 14px;
    height: 14px;
}

.checked[b-2umz1gzssa] {
    background-color: var(--btn-primary-bg);
    transition: 300ms transform ease-in-out;
}

    .checked .tick-mark[b-2umz1gzssa]  svg {
        stroke: var(--btn-primary-fg);
    }

.disabled[b-2umz1gzssa] {
    opacity: 0.5;
    cursor: not-allowed;
}
.disabled .checkbox-wrapper[b-2umz1gzssa] {
    opacity: 0.5;
    cursor: not-allowed;
}
.disabled + label:hover[b-2umz1gzssa] {
    cursor: not-allowed
}

.light .sbc-checkbox input:not(:disabled) .checkbox-wrapper:hover[b-2umz1gzssa] {
    box-shadow: 0 1px 2px 0 var(--primary-border);
}
/* _content/Components/Collapsible.razor.rz.scp.css */
.sbc-collapsible[b-thsyy9cxt9] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    width: 100%;
}

.sbc-collapsible-header[b-thsyy9cxt9] {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.sbc-collapsible-header-handler[b-thsyy9cxt9] {
    font-weight: 600;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    gap: 8px;
    margin: 1rem;
}

.sbc-collapsible-content[b-thsyy9cxt9] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* _content/Components/Combobox.razor.rz.scp.css */
.sbc-combobox[b-0405xf9y35] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .sbc-combobox label[b-0405xf9y35] {
        font-size: 13px;
        font-weight: 500;
    }

hr[b-0405xf9y35] {
    height: 1px;
    border-bottom: 1px solid var(--primary-border);
    opacity: 0.15;
}

.sbc-combobox span.info[b-0405xf9y35] {
    font-size: 12px;
    opacity: 0.5;
}

.sbc-combobox button[b-0405xf9y35] {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    min-height: 36px;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    padding: 8px 16px;
    padding-right: 8px;
    outline: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 150ms ease-in-out;
}

    .sbc-combobox button span[b-0405xf9y35] {
        max-width: calc(100% - 1.5rem);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .sbc-combobox button:disabled[b-0405xf9y35] {
        opacity: 0.5;
        cursor: default;
    }

    .sbc-combobox button:not(:disabled):hover[b-0405xf9y35],
    .sbc-combobox button:not(:disabled):focus[b-0405xf9y35] {
        background-color: var(--btn-secondary-bg);
        color: var(--btn-secondary-fg);
        cursor: pointer;
    }

    .sbc-combobox button[b-0405xf9y35]  svg {
        stroke: var(--primary-fg);
        opacity: 0.5;
        width: 16px;
        height: 16px;
    }

.sbc-ac-list[b-0405xf9y35] {
    user-select: none;
    position: fixed;
    z-index: 50;
    background-color: var(--primary-bg);
    min-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    padding: 4px;
    visibility: collapse;
}

.search-box[b-0405xf9y35] {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--primary-border);
    padding: 0 8px;
    margin-bottom: 4px;
}

    .search-box[b-0405xf9y35]  svg {
        min-width: 16px;
        max-width: 16px;
        stroke: var(--primary-fg);
        opacity: 0.5;
    }

    .search-box input[b-0405xf9y35] {
        font-family: inherit;
        background-color: transparent;
        font-size: 14px;
        width: 100%;
        min-height: 40px;
        margin-bottom: 2px;
        border: none;
        padding: 8px;
        outline: transparent;
    }

.list-items[b-0405xf9y35] {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

    .list-items[b-0405xf9y35]::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
    }

.sbc-ac-list .item[b-0405xf9y35] {
    flex: 1;
    cursor: default;
    padding: 8px;
    padding-left: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

    .sbc-ac-list .item span[b-0405xf9y35] {
        width: 16px;
    }

    .sbc-ac-list .item[b-0405xf9y35]  svg {
        position: absolute;
        left: 8px;
        width: 16px !important;
        height: 16px !important;
        stroke: var(--primary-fg);
    }

    .sbc-ac-list .item.selected[b-0405xf9y35],
    .sbc-ac-list .item:hover[b-0405xf9y35] {
        background-color: var(--btn-secondary-bg);
        border-radius: 4px;
    }

.sbc-ac-list.show[b-0405xf9y35] {
    visibility: visible;
    animation: show-b-0405xf9y35 100ms linear both;
}

.light .sbc-ac-list[b-0405xf9y35] {
    box-shadow: 0 1px 4px 1px var(--btn-secondary-bg);
}

@keyframes show-b-0405xf9y35 {
    from {
        opacity: 0;
        transform: scaleX(0.5) scaleY(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* _content/Components/Command.razor.rz.scp.css */
.sbc-command[b-8dj94hukku] {
    position: relative;
    width: 100%;
    border: 1px solid var(--primary-border);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    z-index: 3000;
}

.light .sbc-command[b-8dj94hukku] {
    box-shadow: 0 1px 4px 0 var(--primary-border);
}

.sbc-command-group[b-8dj94hukku] {
    padding: 4px;
    border-top: 1px solid var(--primary-border);
}

    .sbc-command-group p:first-child[b-8dj94hukku] {
        font-size: 12px;
        opacity: 0.5;
        padding: 8px;
    }

.sbc-command-search[b-8dj94hukku] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 8px;
}

    .sbc-command-search span[b-8dj94hukku] {
        font-size: 18px;
        opacity: 0.5;
        margin-left: 4px;
    }

    .sbc-command-search input[b-8dj94hukku] {
        border: none;
        background-color: transparent;
        color: var(--primary-fg);
        outline: transparent;
        padding: 4px;
        flex: 1;
    }

.sbc-command-notfound[b-8dj94hukku] {
    padding: 1.5rem;
    border: 1px solid var(--primary-border);
    text-align: center;
    font-size: 14px;
}
/* _content/Components/CommandItem.razor.rz.scp.css */
.sbc-command-item[b-efrbgdocv2] {
    display: flex;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-fg);
    border: none;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    max-height: 32px;
    outline: transparent;
}

.sbc-command-item-name[b-efrbgdocv2] {
    display: flex;
    gap: 8px;
    align-items: center;
}

    .sbc-command-item-name span:first-child[b-efrbgdocv2] {
        font-size: 18px;
        opacity: 0.75;
    }

.sbc-command-item:hover[b-efrbgdocv2],
.sbc-command-item:focus-within[b-efrbgdocv2],
.sbc-command-item.selected[b-efrbgdocv2] {
    background-color: var(--btn-secondary-bg);
    cursor: pointer;
}

.sbc-command-item small[b-efrbgdocv2] {
    opacity: 0.75
}
/* _content/Components/ContextMenu.razor.rz.scp.css */
.sbc-context-menu[b-p2tdgr7vgx]
 {
    border: 1px dashed var(--primary-border);
    display: flex;
    place-content: center;
    align-items: center;
    font-size: 14px;    
    cursor: default;
}
/* _content/Components/DataTable.razor.rz.scp.css */
.sbc-data-table-container[b-tgveq3qrxy] {
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
}
.sbc-data-table[b-tgveq3qrxy] {
    --spacing: 8px 16px;
    --height: fit-content;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: var(--height);
    overflow: auto;
    scrollbar-gutter: both-edges auto;
}

.sbc-data-table table[b-tgveq3qrxy] {
    width: 100%;
    font-weight: 400;
    border-collapse: separate;    
    font-size: 14px;
    position: relative;
    cursor: default;
}

.sbc-data-table thead[b-tgveq3qrxy] {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-bg);
}

    .sbc-data-table tr[b-tgveq3qrxy] {
        transition: 150ms ease-out;
        outline: transparent;
    }
        .sbc-data-table tr:hover[b-tgveq3qrxy],
        .sbc-data-table tr.selected[b-tgveq3qrxy] {
            background-color: var(--data-table-row-hover);
        }

    .sbc-data-table[b-tgveq3qrxy]  th {
        font-weight: 500 !important;
        font-size: 14px;
        padding: var(--spacing);
        padding-block: 12px;
        height: 40px;
        color: var(--light-text);
        border-block: 1px solid var(--data-table-border);
        white-space: nowrap;
        align-items: center;
    }

        .sbc-data-table[b-tgveq3qrxy]  th.sorted {
            background-color: var(--btn-secondary-bg);
            color: var(--error);
        }

        .sbc-data-table[b-tgveq3qrxy]  td {
            padding: var(--spacing);
            min-height: 50px;
            border-block: 1px solid var(--data-table-border)
        }

    .sbc-data-table[b-tgveq3qrxy]  .left {
        text-align: left;
    }
    .sbc-data-table[b-tgveq3qrxy]  .center {
        text-align: center;
    }
    .sbc-data-table[b-tgveq3qrxy]  .right {
        text-align: right;
    }
    .sbc-data-table[b-tgveq3qrxy]  .justify {
        text-align: justify;
    }    
/* _content/Components/DatePicker.razor.rz.scp.css */
.sbc-datepicker-wrapper[b-q8t9resy8c] {
    outline: transparent;
    overflow: hidden;
}

.sbc-datepicker[b-q8t9resy8c] {
    position: fixed;
    background-color: var(--primary-bg);
    width: fit-content;
    border: 1px solid var(--primary-border);
    padding: 12px;
    font-family: inherit;
    border-radius: 0.5rem;
    z-index: 100;
    visibility: hidden;
}

.sbc-datepicker-button[b-q8t9resy8c] {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    font-weight: 500;
    border: 1px solid var(--primary-border);
    padding: 8px 16px;
    height: 36px;
    border-radius: 6px;
    outline: transparent;
    width: 100%;
}

    .sbc-datepicker-button span:first-child[b-q8t9resy8c] {
        opacity: 0.5;
        font-size: 18px;
    }

    .sbc-datepicker-button div:first-child[b-q8t9resy8c] {
        display: flex;
        gap: 8px;
        align-items: center
    }

    .sbc-datepicker-button:not(:disabled):hover[b-q8t9resy8c],
    .sbc-datepicker-button:not(:disabled):focus-within[b-q8t9resy8c] {
        cursor: pointer;
        background-color: var(--btn-secondary-bg);
        color: var(--btn-secondary-fg);
    }

    .sbc-datepicker-button p[b-q8t9resy8c] {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }


.sbc-datepicker button[b-q8t9resy8c] {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border: 1px solid transparent;
    padding: 4px;
    height: 36px;
    font-size: 14.5px;
    font-weight: 500;
    min-width: 36px;
    border-radius: 6px;
    outline: transparent;
}

.sbc-datepicker-content button:not(:disabled):hover[b-q8t9resy8c] {
    cursor: pointer;
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
}

.sbc-datepicker-content button.today[b-q8t9resy8c] {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
    border: 1px solid transparent;
}

.sbc-datepicker-content button.selected[b-q8t9resy8c] {
    background-color: var(--btn-primary-bg) !important;
    color: var(--btn-primary-fg) !important;
    border: 1px solid var(--btn-primary-bg);
}

.sbc-datepicker-content button:focus[b-q8t9resy8c] {
    border: 1px solid var(--primary-border);
}

.sbc-datepicker-header[b-q8t9resy8c] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sbc-datepicker-days[b-q8t9resy8c] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    row-gap: 8px;
    text-align: center;
}

.sbc-datepicker-weekdays[b-q8t9resy8c] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    font-size: 13px;
    opacity: 0.75;
    text-align: center;
    margin: 1rem 0;
}

.prev-month[b-q8t9resy8c], .next-month[b-q8t9resy8c] {
    opacity: 0.5;
}

.month-year[b-q8t9resy8c] {
    font-size: 15px;
    font-weight: 600;
    cursor: default;
}

.back[b-q8t9resy8c], .next[b-q8t9resy8c] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px !important;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid var(--primary-border);
}

    .back:hover[b-q8t9resy8c],
    .next:hover[b-q8t9resy8c] {
        cursor: pointer;
        background-color: var(--btn-secondary-bg);
        border: 1px solid var(--primary-border);
        border-radius: 6px;
    }

.show[b-q8t9resy8c] {
    visibility: visible;
    animation: show-b-q8t9resy8c 150ms ease-out forwards;
}

@keyframes show-b-q8t9resy8c {
    from {
        opacity: 0;
        transform: scale(0.8)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.clear-btn[b-q8t9resy8c] {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-fg);
    border-radius: 50%;
    outline: transparent;
    transition: 150ms ease-in-out all;
}

    .clear-btn:hover[b-q8t9resy8c],
    .clear-btn:focus[b-q8t9resy8c] {
        background-color: var(--btn-primary-bg);
        color: var(--btn-primary-fg);
        cursor: pointer;
    }

.sbc-datepicker-days button:disabled[b-q8t9resy8c] {
    opacity: 0.5;
}
/* _content/Components/Dialog.razor.rz.scp.css */
.sbc-dialog[b-uvlmka5j3o] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: fill;
}

.sbc-dialog-overlay[b-uvlmka5j3o] {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--overlay-bg);
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    z-index: 0;
}

.sbc-dialog-alert[b-uvlmka5j3o] {
    z-index: 1;
    padding: 1.5rem;
    background-color: var(--alert-dialog-bg);
    border: 1px solid var(--alert-dialog-border);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sbc-dialog-header[b-uvlmka5j3o] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sbc-dialog-content[b-uvlmka5j3o] {
    line-height: 1.25rem;
}

.sbc-dialog-footer[b-uvlmka5j3o] {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: end;
}

.show[b-uvlmka5j3o] {
    animation: show-b-uvlmka5j3o 300ms ease-in-out both;
}

@keyframes show-b-uvlmka5j3o {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* _content/Components/Input.razor.rz.scp.css */
.sbc-input[b-3r44t2pqks] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 8px
}
.sbc-input label[b-3r44t2pqks] {
    font-size: 14px;
    font-weight: 500;
}
.sbc-input span[b-3r44t2pqks] {
    font-size: 12px;
    opacity: 0.5;
}
.sbc-input input[b-3r44t2pqks] {
    font-family: inherit;
    font-size: 14px;
    min-height: 36px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid var(--primary-border);
    outline: transparent;
    transition: all 100ms ease;
    background-color: var(--primary-bg);
    color: var(--fg);
    width: 100%;
}

.sbc-input input:focus[b-3r44t2pqks] {
    border-color: transparent;
    box-shadow: 0 0 1px 1px var(--primary-fg) !important;
}

.sbc-input input:disabled[b-3r44t2pqks] {
    opacity: 0.5;
    cursor: not-allowed;
}

.light .sbc-input input[b-3r44t2pqks] {
    box-shadow: 0 1px 2px 0 var(--primary-border);
}
/* _content/Components/InputOTP.razor.rz.scp.css */
.sbc-input-otp[b-bdq6u1yj0w] {
    display: flex;
    align-items: center;
    gap: 2px;
}
    .sbc-input-otp span[b-bdq6u1yj0w] {
        padding: 8px;
        user-select: none;
        pointer-events: none;
    }

    .sbc-input-otp input[b-bdq6u1yj0w] {
        background-color: transparent;
        color: var(--primary-fg);
        border: 1px solid var(--primary-border);
        outline: transparent;
        border-radius: 6px;
        width: 36px;
        height: 36px;
        text-align: center;
        padding: 8px;
        font-size: 16px;
    }

    .sbc-input-otp input:focus[b-bdq6u1yj0w] {
        background-color: transparent;
        color: var(--primary-fg);
        font-weight: 500;
        border-color: var(--input-border);
    }

/* Chrome, Safari, Edge, Opera */
    .sbc-input-otp input[b-bdq6u1yj0w]::-webkit-outer-spin-button,
    .sbc-input-otp input[b-bdq6u1yj0w]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

/* Firefox */
    .sbc-input-otp input[type=number][b-bdq6u1yj0w] {
        -moz-appearance: textfield;
    }
/* _content/Components/Label.razor.rz.scp.css */
.sbc-label[b-xkgq5lmbrp] {
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;    
}

.sbc-label-info[b-xkgq5lmbrp] {
    opacity: 0.5
}

.bold[b-xkgq5lmbrp] {
    font-weight: 500;
}

.disabled[b-xkgq5lmbrp] {
    opacity: 0.75;
    cursor: not-allowed !important;
}
/* _content/Components/MenuGroup.razor.rz.scp.css */
.sbc-menu-group[b-sn9fk6vfwi] {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    padding: 4px;
    min-width: 200px;
    width: 100%;
    z-index: 50;
}

.light .sbc-menu-group[b-sn9fk6vfwi] {
    box-shadow: 0 3px 4px 0.5px var(--primary-border);
}
/* _content/Components/MenuItem.razor.rz.scp.css */
.sbc-menu_separator[b-8v0iajmn9l] {
    display: flex;
    align-items: center;
    width: calc(100% + 8px);
    height: 1px;
    margin: 0 -4px;
    border-bottom: 1px solid var(--primary-border);
    pointer-events: none;
}

.sbc-menuitem[b-8v0iajmn9l] {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    max-height: 36px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    color: var(--btn-secondary-fg);
    outline: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    transition: background-color 150ms ease-out;
}

    .sbc-menuitem:disabled[b-8v0iajmn9l] {
        opacity: 0.5;
    }

    .sbc-menuitem:not(:disabled, .menu_header):hover[b-8v0iajmn9l],
    .sbc-menuitem:not(:disabled, .menu_header):focus[b-8v0iajmn9l] {
        background-color: var(--btn-secondary-bg);
        border: 1px solid var(--btn-secondary-bg);
        color: var(--btn-secondary-fg);
        cursor: pointer;
    }

.menu_header[b-8v0iajmn9l] {
    font-weight: 700 !important;
    pointer-events: none;
}

.menu_text[b-8v0iajmn9l] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu_can_check[b-8v0iajmn9l] {
    display: flex;
    gap: 4px;
    align-items: center;
}

.menu_check[b-8v0iajmn9l] {
    transform: scale(0.7);
    width: 24px;
    align-self: center;
}

.menu_can_check[b-8v0iajmn9l]  .menu_check {
    /*    color: red !important;*/
    stroke: var(--primary-bg) !important;
}

.menu_radio[b-8v0iajmn9l] {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 9px;
    background-color: var(--primary-fg);
}

.menu_icon[b-8v0iajmn9l] {
    align-self: center;
}

.menu_shortcut[b-8v0iajmn9l] {
    font-size: 12px;
    opacity: 0.5;
}
/* _content/Components/Pagination.razor.rz.scp.css */
.sbc-pagination[b-6qji8e5626]
 {
    display: flex;
    gap: 4px;
    align-items: center;
}
.sbc-pagination[b-6qji8e5626]  button {
    padding: 8px 12px;
    min-width: 36px;
    text-align: center;
}
/* _content/Components/Popover.razor.rz.scp.css */
.sbc-popover[b-ztxulxv1n1] {
    --from: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
/* _content/Components/Progress.razor.rz.scp.css */
.sbc-percent-container[b-b8pkpf4bbw] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.sbc-progress[b-b8pkpf4bbw] {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.sbc-progress-completed[b-b8pkpf4bbw] {
    position: absolute;
    left: 0;
    top: 0;    
    height: 100%;    
}
/* _content/Components/RadioGroup.razor.rz.scp.css */
.sbc-radiogroup[b-cbyon44cdq] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

[b-cbyon44cdq] .sbc-radio-item {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

    [b-cbyon44cdq] .sbc-radio-item input {
        appearance: none;
        background-color: var(--primary-bg);
        border: 1px solid var(--primary-fg);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        outline: 1px solid var(--primary-fg) inset;
    }

[b-cbyon44cdq] .sbc-radio-item input {
    box-shadow: 0 1px 4px 1px var(--primary-border);
}

[b-cbyon44cdq] .sbc-radio-check-mark {
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    visibility: hidden;
}

[b-cbyon44cdq] .sbc-radio-item input:checked ~ .sbc-radio-check-mark {
    visibility: visible
}
/* _content/Components/ScrollArea.razor.rz.scp.css */
.sbc-scroll-area-vertical[b-018duyq7te] {
    display: flex;
    gap: 6px;
    flex-direction: column;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}
.sbc-scroll-area-horizontal[b-018duyq7te] {
    display: flex;
    gap: 6px;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}
/* _content/Components/Select.razor.rz.scp.css */
.sbc-select[b-bfdhn05mn0] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .sbc-select label[b-bfdhn05mn0] {
        font-size: 13px;
        font-weight: 500;
    }

hr[b-bfdhn05mn0] {
    height: 1px;
    border-bottom: 1px solid var(--primary-border);
    opacity: 0.15;
}

.sbc-select span.info[b-bfdhn05mn0] {
    font-size: 12px;
    opacity: 0.5;
}

.sbc-select button[b-bfdhn05mn0] {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    min-height: 36px;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    padding: 8px 16px;
    padding-right: 10px;
    outline: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 150ms ease-in-out;
}

    .sbc-select button span[b-bfdhn05mn0] {
        max-width: calc(100% - 1.5rem);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .sbc-select button:disabled[b-bfdhn05mn0] {
        opacity: 0.5;
        cursor: default;
    }

    .sbc-select button:not(:disabled):hover[b-bfdhn05mn0],
    .sbc-select button:not(:disabled):focus[b-bfdhn05mn0] {
        background-color: var(--btn-secondary-bg);
        color: var(--btn-secondary-fg);
        cursor: pointer;
    }

    .sbc-select button[b-bfdhn05mn0]  svg {
        stroke: var(--primary-fg);
        opacity: 0.5;
        width: 16px;
        height: 16px;
    }

.sbc-ac-list[b-bfdhn05mn0] {
    user-select: none;
    position: fixed;
    z-index: 50;
    background-color: var(--primary-bg);
/*    max-height: 200px;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-border);
    border-radius: 6px;
    padding: 4px;
    visibility: collapse;
}

.search-box[b-bfdhn05mn0] {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--primary-border);
    padding: 0 8px;
    margin-bottom: 4px;
}

    .search-box[b-bfdhn05mn0]  svg {
        min-width: 16px;
        max-width: 16px;
        stroke: var(--primary-fg);
        opacity: 0.5;
    }

    .search-box input[b-bfdhn05mn0] {
        font-family: inherit;
        background-color: transparent;
        font-size: 14px;
        width: 100%;
        min-height: 40px;
        margin-bottom: 2px;
        border: none;
        padding: 8px;
        outline: transparent;
    }

.list-items[b-bfdhn05mn0] {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.list-items b[b-bfdhn05mn0] {
    font-size: 14px;
    padding: 8px 16px;
}

    .list-items[b-bfdhn05mn0]::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
    }

.sbc-ac-list .item[b-bfdhn05mn0] {
    flex: 1;
    cursor: default;
    padding: 8px 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

    .sbc-ac-list .item span[b-bfdhn05mn0] {
        width: 16px;
    }

    .sbc-ac-list .item[b-bfdhn05mn0]  svg {
        position: absolute;
        right: 8px;
        width: 16px !important;
        height: 16px !important;
        stroke: var(--primary-fg);
    }

    .sbc-ac-list .item.selected[b-bfdhn05mn0],
    .sbc-ac-list .item:hover[b-bfdhn05mn0] {
        background-color: var(--btn-secondary-bg);
        border-radius: 4px;
    }

.sbc-ac-list.show[b-bfdhn05mn0] {
    visibility: visible;
    animation: show-b-bfdhn05mn0 100ms linear both;
}

.light .sbc-ac-list[b-bfdhn05mn0] {
    box-shadow: 0 1px 4px 1px var(--btn-secondary-bg);
}

@keyframes show-b-bfdhn05mn0 {
    from {
        opacity: 0;
        transform: scaleX(0.5) scaleY(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.sbc-select-up[b-bfdhn05mn0], .sbc-select-down[b-bfdhn05mn0] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.sbc-select-down[b-bfdhn05mn0] {
    bottom: 0;
}
/* _content/Components/Separator.razor.rz.scp.css */
.sbc-separator-horizontal[b-d5d193g4wi] {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--primary-border);
}
    .sbc-separator-vertical[b-d5d193g4wi] {        
        width: 1px !important;
        height: 100%;
        border-left: 1px solid var(--primary-border);
    }
/* _content/Components/Sheet.razor.rz.scp.css */
.sbc-sheet[b-vsix4z7trx] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    z-index: 2000;
}

.sbc-sheet-overlay[b-vsix4z7trx] {
    background-color: var(--overlay-bg);
    filter: opacity(0.85);
    width: 100%;
    height: 100%;
}

.sbc-sheet-content[b-vsix4z7trx] {
    position: absolute;
    top: 0;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--primary-bg);
    border-left: 1px solid var(--primary-border);
    border-right: 1px solid var(--primary-border);
}

.show[b-vsix4z7trx] {
    --from: 100%;
    animation: show-b-vsix4z7trx 300ms ease-out forwards;
}
.hide[b-vsix4z7trx] {
    animation: hide-b-vsix4z7trx 300ms ease-out forwards;
}

@keyframes show-b-vsix4z7trx 
{
    from { opacity: 0; transform: translateX(var(--from)) }
    to { opacity: 1; transform: translateX(0) }
}
@keyframes hide-b-vsix4z7trx
{
    from { opacity: 1; transform: translateX(0) }
    to { opacity: 0; transform: translateX(var(--from)) }
}

[b-vsix4z7trx] .show-close {
    position: absolute;    
    top: 1rem;    
    right: 1rem;
    padding: 8px;
}
/* _content/Components/Skeleton.razor.rz.scp.css */
.sbc-skeleton[b-4uwuh8c3d4] {
    position: relative;
    display: block;
    background-color: var(--primary-border);
    width: 100%;
    height: 100%;
    border: none;
    animation: skeleton-b-4uwuh8c3d4 1s ease-in-out infinite alternate-reverse;
    pointer-events: none;
}

@keyframes skeleton-b-4uwuh8c3d4
{
    from { opacity: 0.4 }
    to { opacity: 0.8 }
}
/* _content/Components/Slider.razor.rz.scp.css */
.sbc-slider[b-mulbegll08] {
    --width: 0%;
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: var(--primary-border);
}

    .sbc-slider input[b-mulbegll08] {
        appearance: none;        
        width: 100%;
        background-color: transparent;
        outline: transparent;        
    }

        .sbc-slider input[b-mulbegll08]::-webkit-slider-thumb {
            appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-top: -12px;
            border: 1px solid var(--medium-text);
            background-color: var(--medium-text) !important;
            z-index: 2;
            transition: 200ms ease-in-out;
        }
        .sbc-slider input:focus[b-mulbegll08]::-webkit-slider-thumb {
            box-shadow: 0 0 12px 0 var(--medium-text);
        }

        .sbc-slider input[b-mulbegll08]::-webkit-slider-runnable-track {
            height: 8px;
            border-radius: 8px;
            cursor: pointer;
        }

.sbc-slider-complete[b-mulbegll08] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--width);
    z-index: 1;
    background-color: var(--medium-text);
    height: 8px;
    border-radius: 8px;
    pointer-events: none;
}
/* _content/Components/Sonner.razor.rz.scp.css */
.sbc-sonner[b-8lcik2p4co]
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid var(--primary-border);
    align-items: center;
    position: fixed;
    visibility: hidden;
    right: 2rem;
    bottom: 2rem;
    z-index: 9999;
}

.sbc-sonner-content[b-8lcik2p4co]{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sbc-sonner-content b[b-8lcik2p4co] {
    font-weight: 500;
    font-size: 14px;
}
.sbc-sonner-content p[b-8lcik2p4co] {
    font-weight: normal;
    opacity: 0.5;
    font-size: 13px;
}

.light .sbc-sonner[b-8lcik2p4co] {
    box-shadow: 0 2px 8px 0 var(--primary-border);
}

.show[b-8lcik2p4co] {
    visibility: visible;
    animation: show-b-8lcik2p4co 200ms ease-in-out forwards;
}

@keyframes show-b-8lcik2p4co {
    from { opacity: 0; transform: translateY(100%) }
    to { opacity: 1; transform: translateY(0) }
}

.hide[b-8lcik2p4co] {
    visibility: visible;
    animation: hide-b-8lcik2p4co 200ms ease-in-out forwards;
}

@keyframes hide-b-8lcik2p4co {
    from { opacity: 1; transform: translateY(0) }
    to { opacity: 0; transform: translateY(100%) }
}
/* _content/Components/Switch.razor.rz.scp.css */
.sbc-toggle[b-rt7x10b2kl] {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: transparent;
}

.sbc-toggle .label[b-rt7x10b2kl] {
    font-weight: 500;
    font-size: 14px;
}

.sbc-toggle input[b-rt7x10b2kl] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-wrapper[b-rt7x10b2kl] {
    display: flex;
    align-items: center;
    width: 36px;
    height: 20px;
    background-color: var(--toggle-bg);
    border-radius: 9999px;
    position: relative;
    gap: 0 !important;
}

.toggle-circle[b-rt7x10b2kl] {
    position: absolute;
    background-color: var(--toggle-fg);
    width: 16px;
    height: 16px;
    transform: translateX(1px);
    border: none;
    border-radius: 50%;
}

.checked[b-rt7x10b2kl] {
    background-color: var(--btn-primary-bg);    
    transition: 300ms transform ease-in-out;
}

.checked>.toggle-circle[b-rt7x10b2kl] {
    animation: move-b-rt7x10b2kl 100ms ease-in-out forwards;
}

.toggle-wrapper:hover[b-rt7x10b2kl] {
    cursor: pointer;
}

.light .toggle-wrapper[b-rt7x10b2kl] {
    box-shadow: 0 1px 2px 0 var(--primary-border);
}
@keyframes move-b-rt7x10b2kl {
    from { transform: translateX(0) }
    to { transform: translateX(calc(100% + 2px)) }
}
/* _content/Components/Table.razor.rz.scp.css */
.sbc-table[b-x8dkmff9ve] {
    width: 100%;    
    overflow: auto;
    font-size: 14px;
}
.sbc-table-table[b-x8dkmff9ve] {
    border-collapse: collapse;
    width: 100%;
    height: 100%;;
}


[b-x8dkmff9ve] th, [b-x8dkmff9ve] td {
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid var(--primary-border);
}
[b-x8dkmff9ve] th {
    width: fit-content;
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid var(--primary-border);
}

[b-x8dkmff9ve] thead {
    font-weight: 600 !important;
    opacity: 0.8;
    text-align: left;
}

[b-x8dkmff9ve] td {
    font-size: 14.5px;
}

[b-x8dkmff9ve] .left {
    text-align: left;
}
[b-x8dkmff9ve] .center {
    text-align: center;
}
[b-x8dkmff9ve] .right {
    text-align: right;
}
[b-x8dkmff9ve] .justify {
    text-align: justify;
}

[b-x8dkmff9ve] tfoot th {
    text-align: left;
    font-weight: 500;
    background-color: var(--table-footer);
    border: none;
}

[b-x8dkmff9ve] tr:hover {
    background-color: var(--table-row-bg);
}
/* _content/Components/Tabs.razor.rz.scp.css */
.sbc-tabs-container[b-wcyowk2zom] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;    
}

.sbc-tabs[b-wcyowk2zom] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: var(--btn-secondary-bg);
    width: 100%;
    padding: 4px;
    border-radius: 6px;
    height: 36px;
    border: none;
    overflow: hidden;
}

.sbc-tabs button[b-wcyowk2zom] {
    font-family: inherit;
    height: 28px;    
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: var(--primary-fg);
    border: none;
    border-radius: 6px;
    padding: 4px 16px;
    flex: 1;
    transition: 300ms ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sbc-tabs button.active[b-wcyowk2zom] {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}
.sbc-tabs button:not(:disabled):hover[b-wcyowk2zom] {
    cursor: pointer;
}
.light .sbc-tabs button.active[b-wcyowk2zom] {
    border: 1px solid var(--primary-border);
    box-shadow: 0 1px 2px 0 var(--primary-border);
}

.sbc-tabs-items[b-wcyowk2zom] {
    width: 100%;
}
/* _content/Components/Textarea.razor.rz.scp.css */
.sbc-textarea[b-edcieztvay] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
}
.sbc-textarea label[b-edcieztvay] {
    font-size: 14px;
    font-weight: 500;
}
.sbc-textarea span[b-edcieztvay] {
    font-size: 12px;
    opacity: 0.5;
}
.sbc-textarea textarea[b-edcieztvay] {
    font-family: inherit;
    font-size: 14px;
    min-height: 36px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid var(--primary-border);
    outline: transparent;
    transition: all 100ms ease;
    background-color: var(--primary-bg);
    color: var(--fg);
    width: 100%;
    resize: vertical;
}

.sbc-textarea textarea:focus[b-edcieztvay] {
    border-color: transparent;
    box-shadow: 0 0 1px 1px var(--primary-fg) !important;
}

.sbc-textarea textarea:disabled[b-edcieztvay] {
    opacity: 0.5;
    cursor: not-allowed;
}

.light .sbc-textarea textarea[b-edcieztvay] {
    box-shadow: 0 1px 2px 0 var(--primary-border);
}
/* _content/Components/Toast.razor.rz.scp.css */
.sbc-toast[b-akd64uhxl7] {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    border: 1px solid var(--primary-border);
    border-radius: 6px;    
    font-size: 14px;
    overflow: hidden;
    padding: 1rem;
    min-width: 360px;    
}
.light .sbc-toast[b-akd64uhxl7] {
    box-shadow: 0 1px 8px 0 var(--primary-border);
}

.sbc-toast:hover[b-akd64uhxl7]  .toast-close {
    display: unset
}

[b-akd64uhxl7] .toast-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    padding: 0 4px;
    margin: 0;
    max-width: 24px;
    max-height: 24px;
    display: none;
}

.show[b-akd64uhxl7] {
    animation: show-b-akd64uhxl7 300ms ease-in-out forwards;
}

@keyframes show-b-akd64uhxl7 {
    from { opacity: 0; transform: translateY(100%) }
    to { opacity: 1; transform: translateY(0%) }
}

.hide[b-akd64uhxl7] {
    animation: hide-b-akd64uhxl7 300ms ease-in-out forwards;
}

@keyframes hide-b-akd64uhxl7 {
    from { opacity: 1; transform: translateX(0) }
    to { opacity: 0; transform: translateX(100%) }
}
/* _content/Components/Toggle.razor.rz.scp.css */
.sbc-toggle[b-3m41gzg8e5] {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: transparent;
    color: var(--primary-fg);
    border: 1px solid transparent;
    border-radius: 6px;
    justify-content: center;    
}

.default[b-3m41gzg8e5] {
    padding: 8px;
    min-width: 36px;
    height: 36px;
}
.outline[b-3m41gzg8e5] {
    padding: 8px;
    min-width: 36px;
    height: 34px;
    border: 1px solid var(--primary-border);    
}
.light .outline[b-3m41gzg8e5] {
    box-shadow: 0 1px 1px 0 var(--primary-border);
}

.sbc-toggle[b-3m41gzg8e5]  span.material-symbols-outlined {
    font-size: 20px !important;
}

.small[b-3m41gzg8e5] {
    width: 32px;
    height: 32px;
}
.small[b-3m41gzg8e5]  span.material-symbols-outlined {
    font-size: 16px !important;
}

.large[b-3m41gzg8e5] {
    min-width: 40px;
    height: 40px;    
}
.large[b-3m41gzg8e5]  span.material-symbols-outlined {
    font-size: 24px !important;
}

.active[b-3m41gzg8e5] {
    background-color: var(--btn-secondary-bg) !important;
}

.sbc-toggle:not(:disabled):hover[b-3m41gzg8e5] {
    cursor: pointer;
    background-color: var(--btn-secondary-bg);
    opacity: 0.5;
}

.sbc-toggle:disabled[b-3m41gzg8e5] {
    opacity: 0.5;
    cursor: default;
}
/* _content/Components/ToggleGroup.razor.rz.scp.css */
.sbc-toggle-group[b-it1slxiunr] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
/* _content/Components/Tooltip.razor.rz.scp.css */
.sbc-tooltip[b-artd6gh1m5] {
    position: relative;
    display: flex;
    justify-content: center;
}

.sbc-tooltip:hover .sbc-tooltip-tip[b-artd6gh1m5] {
    animation: show-b-artd6gh1m5 100ms ease-out 500ms forwards;
}
.sbc-tooltip:hover .sbc-tooltip-tip.bottom[b-artd6gh1m5] {
    animation: bottom-b-artd6gh1m5 100ms ease-out 500ms forwards;
}

.sbc-tooltip-tip[b-artd6gh1m5] {
    text-align: center;
    line-height: 1.15rem;
    visibility: collapse;
    position: fixed;            
    font-size: 12px;
    background-color: var(--primary-fg);
    color: var(--primary-bg);
    padding: 6px 12px;
    border-radius: 6px;
    z-index: 9999;
}

@keyframes  show-b-artd6gh1m5 {
    from { opacity: 0; visibility: collapse; transform: scale(0) translateY(0px); }
    to { opacity: 1; visibility: visible; transform: scale(1) translateY(calc(-100% - 4px));}
}
@keyframes  bottom-b-artd6gh1m5 {
    from { opacity: 0; visibility: collapse; transform: scale(0) translateY(0px); }
    to { opacity: 1; visibility: visible; transform: scale(1) translateY(calc(var(--height) + 4px));}
}
